<template>
    <div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Titre</th>
                <th scope="col">Nom de l'artiste</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Durée</th>
                </tr>
            </thead>
            <tbody v-for="(album, index) in customers" :key="index">
                <tr>
                    <td>{{album.title}}</td>
                    <td>{{album.artistName}}</td>
                    <td>{{album.releaseDate}}</td>
                    <td>{{album.duration}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import AlbumDataService from '../services/AlbumDataService'

export default {
    name: 'albums',
    data() {
        return {
            albums: []
        }
    },
    methods: {
        retrieveAlbums() {
            AlbumDataService.getAll()
                .then(response => {
                    this.albums = response.data
                })
                .catch(e => {
                    alert(e)
                })
        }
    },
    mounted() {
        this.retrieveAlbums()
    }
}
</script>
